<!DOCTYPE HTML>
<html layout:decorator="provisioning/_layout" th:with="provisioningTitle=#{provisioning.cards.title}">
<body id="card-order-validation">
    <div layout:fragment="content-inner">
        <div class="section" th:if="${#lists.isEmpty(flaggedOrders) and #lists.isEmpty(otherOrders)}">
            <h3>No card orders pending validation.</h3>
        </div>

        <div id="flaggedOrders" class="section" th:unless="${#lists.isEmpty(flaggedOrders)}">
            <h3>Card orders <strong>failing</strong> automatic validation</h3>

            <div th:replace="provisioning/cards/_snippets :: ordersTable(${flaggedOrders})"></div>
        </div>

        <div class="section" th:unless="${#lists.isEmpty(otherOrders)}">
            <h3>Card orders <strong>pending</strong> validation</h3>

            <div th:replace="provisioning/cards/_snippets :: ordersTable(${otherOrders})"></div>
        </div>
    </div>
</body>
</html>
