#card-order-export {

  #exports-list table  {
    table-layout: fixed;
    max-width: 800px;

    & th:last-child {
      width: 150px;
    }
  }

  .group-selection span {
    margin-left: 20px;
  }
}
