<!DOCTYPE HTML>
<html layout:decorator="layouts/_default">
<head>
    <title>Customers</title>
    <script type="text/javascript" charset="utf-8" th:src="@{/javascript/customers/customers.js}"></script>
</head>
<body>
    <div layout:fragment="content">
        <div class="main-body">
            <div class="section">
                <form th:object="${filter}" th:action="@{#}" method="get">
                    <h3>Search terms</h3>

                    <div class="row-33">
                        <div class="field">
                            <label for="customerNumber" class="field-label">Customer number:</label>
                            <input type="text" th:field="*{customerNumber}"/>
                        </div>

                        <div class="field">
                            <label for="phoneNumber" class="field-label">Phone number:</label>
                            <input type="text" th:field="*{phoneNumber}"/>
                        </div>
                    </div>

                    <div class="row-33">
                        <div class="field">
                            <label for="email" class="field-label">Email:</label>
                            <input type="text" th:field="*{email}"/>
                        </div>

                        <div class="field">
                            <label for="transponderCardNumber" class="field-label">Transponder card number:</label>
                            <input type="text" th:field="*{transponderCardNumber}"/>
                        </div>
                    </div>

                    <div class="clear">
                        <input type="submit" name="searchBtn" value="Search" />
                        <input type="submit" name="resetBtn" value="Reset" />
                    </div>
                </form>
            </div>

            <div class="section" th:if="${#lists.isEmpty(customers)}">
                <h3>No results</h3>
            </div>

            <div class="section" th:unless="${#lists.isEmpty(customers)}">
                <h3>Search results</h3>

                <table>
                    <thead>
                        <tr>
                            <th>Customer type</th>
                            <th>Client name</th>
                            <th>Product group</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cust : ${customers}">
                            <td th:text="${cust.customerType}"></td>
                            <td th:text="${cust.clientName}"></td>
                            <td th:text="${cust.productGroup}"></td>
                            <td th:text="${cust.status}"></td>
                            <td>
                                <div class="btn">
                                    <a th:href="@{'/customers/' + ${cust.customerId}}">Details</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
