<!DOCTYPE HTML>
<html>
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Yellowbrick Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/application.css}" />
    <script type="text/javascript" charset="utf-8" th:src="@{/javascript/lib/jquery-2.1.1.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/javascript/application.js}"></script>
</head>
<body>
    <div id="side-menu">
        <a id="logo" th:href="@{/}"></a>
        <ul>
            <li class="dashboard" bw:activeforctx="/dashboard">
                <a href="#">DASHBOARD</a>
            </li>
            <li class="customers" bw:activeforctx="/customers">
                <a href="#">CUSTOMERS</a>
            </li>
            <li class="product-groups" bw:activeforctx="/product-groups">
                <a href="#">PRODUCT GROUPS</a>
                <ul class="sub">
                    <li th:each="pg : ${allProductGroups}">
                        <a th:href="@{'/productgroups/' + ${pg.description.toLowerCase()}}"
                           th:text="${pg.description}">PRODUCTGROUP DESCRIPTION</a>
                    </li>
                </ul>
            </li>
            <li class="municipalities" bw:activeforctx="/municipalities">
                <a href="#">MUNICIPALITIES</a>
            </li>
            <li class="action-codes" bw:activeforctx="/action-codes">
                <a href="#">ACTION CODES</a>
            </li>
            <li class="provisioning" bw:activeforctx="/provisioning">
                <a th:href="@{/provisioning/accounts}">PROVISIONING</a>
                <ul class="sub">
                    <li><a th:href="@{/provisioning/cards}">CARD ORDER VALIDATION</a></li>
                    <li><a th:href="@{/provisioning/accounts}">ACCOUNT VALIDATION</a></li>
                </ul>
            </li>
        </ul>

        <ul class="baseline">
            <li>
                <form id="logout-btn" th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign out"/>
                </form>
                <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
            </li>
        </ul>
    </div>

    <div id="main">
        <div layout:fragment="content"></div>
    </div>
</body>
</html>
