<!DOCTYPE HTML>
<html>
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Yellowbrick Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/application.css}" />

    <script type="text/javascript" charset="utf-8" th:src="@{/javascript/lib/jquery-2.1.1.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/javascript/application.js}"></script>
</head>
<body>
    <div id="side-menu">
        <a id="logo" th:href="@{/}"></a>
        <ul>
            <li class="dashboard" bw:activeforctx="/dashboard">
                <a href="#">DASHBOARD</a>
                <ul class="side-submenu">
                    <h2> dashboard </h2>
                    <li class="menu-back-button"><a href="#">back</a></li>
                    <li><a href="#">one</a></li>
                    <li><a href="#">two</a></li>
                </ul>
            </li>
            <li class="customers" bw:activeforctx="/customers">
                <a href="#">CUSTOMERS</a>
                <ul class="side-submenu">
                    <h2> customers </h2>
                    <li class="menu-back-button"><a href="#">back</a></li>
                    <li><a href="#">one</a>
                        <ul class="side-submenu">
                        <h2> NEXT LEVEL </h2>
                        <li class="menu-back-button"><a href="#">back</a></li>
                        <li><a href="#">three</a></li>
                        <li><a href="#">four</a></li>
                    </ul>
                    </li>
                    <li><a href="#">two</a></li>
                </ul>
            </li>
            <li class="product-groups" bw:activeforctx="/product-groups">
                <a href="#">PRODUCT GROUPS</a>
                <ul class="side-submenu">
                    <h2> product groups </h2>
                    <li class="menu-back-button"><a href="#">back</a></li>
                    <li th:each="pg : ${allProductGroups}">
                        <a th:href="@{'/productgroups/' + ${pg.description.toLowerCase()}}"
                           th:text="${pg.description}">PRODUCTGROUP DESCRIPTION</a>
                    </li>
                </ul>
            </li>
            <li class="municipalities" bw:activeforctx="/municipalities">
                <a href="#">MUNICIPALITIES</a>
                <ul class="side-submenu">
                    <h2> municipalities </h2>
                    <li class="menu-back-button"><a href="#">back</a></li>
                    <li><a href="#">one</a></li>
                    <li><a href="#">two</a></li>
                </ul>
            </li>
            <li class="action-codes" bw:activeforctx="/action-codes">
                <a href="#">ACTION CODES</a>
                <ul class="side-submenu">
                    <h2> action codes </h2>
                    <li class="menu-back-button"><a href="#">back</a></li>
                    <li><a href="#">one</a></li>
                    <li><a href="#">two</a></li>
                </ul>
            </li>
            <li class="provisioning" bw:activeforctx="/provisioning">
                <a th:href="@{/provisioning/accounts}">PROVISIONING</a>
                <ul class="side-submenu">
                    <h2> provisioning </h2>
                    <li class="menu-back-button"><a href="#">back</a></li>
                    <li><a th:href="@{/provisioning/cards}">CARD ORDER VALIDATION</a></li>
                    <li><a th:href="@{/provisioning/exports}">CARD ORDER EXPORT</a></li>
                    <li><a th:href="@{/provisioning/accounts}">ACCOUNT VALIDATION</a></li>
                </ul>
            </li>
        </ul>

        <ul class="baseline">
            <li class="settings" >
                <a href="#">SETTINGS</a>
                <ul class="side-submenu-settings">
                    <li>
                        <form id="logout-btn" th:action="@{/logout}" method="post">
                            <input type="submit" value="Sign out"/>
                            <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
                        </form>

                    </li>
                   <li>
                        <a href="#">one</a>
                    </li>
                    <li>
                        <a href="#">two</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <script type="text/javascript">

    $('#side-menu ul li').click(function() {
        $(this).find('ul').first().addClass('active');
    });
     $('.menu-back-button').click(function() {
        $(".menu-back-button").parent('').removeClass('active');
    });
    </script>

    <div id="main">
        <div layout:fragment="content"></div>
    </div>
</body>
</html>
