$bg-color: #F4F5F8;
$text-color: #1F3753;
$base-font-size: 14px;

$dashboard-color: #FA9F28;
$customers-color: #21A596;
$product-groups-color: #E74144;
$municipalities-color: #328AEA;
$action-codes-color: #663BC9;
$provisioning-color: #21A596;
