@import 'colors';

.section {
  background-color: $bg-color;
  padding: 20px 10px;
  margin-bottom: 18px;
  position: static;
  overflow: hidden;
  z-index: 8;
}

.field {
  padding: 3px;
  line-height: 22px;
}

.field input {
  display: inline-block;
}

.field-label {
  display: inline-block;
  width: 200px;
}

input.field-error {
  border: 2px solid #f00;
}

span.field-error {
  color: #f00;
  position: relative;
  right: -210px;
}

.global-errors {
  color: #f00;
}

input[type='submit'] + input[type='submit'] {
  margin-left: 10px;
}

input {
  padding: 5px 10px;
  border: none;
  background-color: white;
  color: $head-color;

}
input[type='text'] {
  width: 220px;
  height: 30px;
}
.row-33 {
  width: 33%;
  float: left;
}
.row-50 {
  width: 50%;
  float: left;
}
input[type=radio]{
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0625em solid rgb(192,192,192);
  border-radius: 0.25em;
  background: rgb(224,224,224);
  &:checked{}
}