@import 'normalize.css';
@import 'colors';
@import 'forms';
@import 'provisioning/exports';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Open+Sans:400,600,700);

$side-menu-width: 255px;
html, body {
  height: 100%;
  width: 100%;
  color: $text-color;
  font-size: $base-font-size;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top:-5px;
  font-family:'Open Sans', sans-serif;
  font-weight: 600;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

a, a:active, a:hover, a:visited {
  text-decoration: underline;
  color: $text-color;
}

.hidden {
  display: none;
}

#logo {
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 150px;
  margin: 15px 0 20px 25px;
  display: block;
}

#side-menu {
  height: 100%;
  width: $side-menu-width;
  background-color: $background-color;
  position: fixed;
  float: left;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  color:#515B6D;

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;

    li {
      border-left-style: solid;
      border-left-width: 4px;
      line-height: 50px;

      a{
        padding-left: 20px;

      }

    }
    li:first-child{
    }

    li:hover > .side-submenu {
      display: block;
    }

    a, a:active, a:hover, a:visited {
      text-decoration: none;
    }

    .side-submenu {
      position: absolute;
      color: $text-color;
      float: right;
      top: 60px;
      height: 100%;
      background-color: $background-color;
      left: -90%;
      z-index: 9;
      width: 90%;
      transition: 0.5s;


      .side-submenu{
        top: 0;

      }

      p {
        padding-left: 15px;
        position: relative;
        top: -35px;
        text-transform: uppercase;

      }

      h2 {
        font-size: 1.2em;
        padding: 25px 0 0px 15px;
        margin: 0;
      }

      li {
        border-left: 0px;

        &:hover, &:active{
          background-color:rgba(0,0,0,0.1);

        }
      }
    }
    .side-submenu a{
      text-transform: uppercase;
      display: block;
      color: black;
    }
    @mixin active-highlight($color) {
      border-left-color: $color;

      &:hover, &.active {
        background-color: $color;
      }
    }

    li.dashboard {
      @include active-highlight($dashboard-color);
    }

    li.customers {
      @include active-highlight($customers-color);
    }

    li.product-groups {
      @include active-highlight($product-groups-color);
    }

    li.municipalities {
      @include active-highlight($municipalities-color);
    }

    li.action-codes {
      @include active-highlight($action-codes-color);
    }

    li.provisioning {
      @include active-highlight($provisioning-color);
    }
    li.settings{
      @include active-highlight($settings-color);
    }
  }

  ul.baseline {
    position: absolute;
    bottom: 0;
    width: inherit;
    width:100%;

    li {
      bottom: 0;
      border-left-style: solid;
      border-left-width: 4px;
      padding-left: 20px;
      line-height: 55px;
      margin-top: 2px;
      background-color: inherit;
    }

    li .side-submenu-settings{
      position: absolute;
      float:right;
      left:255px;
      background-color: $settings-color;
      margin-top:-55px;
      display: none;
      -moz-box-shadow: 4px 7px 20px #666;
      -webkit-box-shadow: 4px 7px 20px #666;
      box-shadow: 4px 7px 20px #666;
      text-transform: uppercase;
      z-index: 9;

      li {
        padding-right: 10px;
        width: $side-menu-width - 80px;
        border-left: none;

        a {
          display: block;

        }
      }
    }

    li:hover > .side-submenu-settings {
      display:flex;

    }
  }
}

#main {
  margin-left: $side-menu-width;
}

#top-bar {
  background-color: #199784;
  width: 100%;
  line-height: 60px;
  min-height: 60px;
  text-align: right;

  span {
    margin-left: 26px;
    color: #FFF;
    float: left;
  }

  a, a:active, a:hover, a:visited {
    color: #198376;
    text-decoration: none;
  }

  a.active, a:hover {
    color: #FFF;
  }

  ul {
    margin: 0;
    padding-right: 80px;
  }

  li {
    list-style-type: none;
    display: inline;
    margin-left: 26px;
    color: #FFF;
  }
}

.main-body {
  padding: 12px 10px;
}

.menu-back-button {
  padding-left: 0px;
  text-align: right;
  background: rgba(255,255,255,0.8);
  font-size: 0.8em;
  font-weight: bold;
  padding-right: 30px;

  a {
    height:29px;
    line-height: 29px;
  }


}

table {
  border-collapse: collapse;
  text-align: left;
  width: 102%;
  margin-left:-10px;

  thead {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $head-color;
    font-weight: 300;
    font-size: 13px;
  }

  tbody{

    tr{
      height: 47px;
      font-size: 13px;

      &:nth-of-type(odd){
        background: rgba(255,255,255,0.8);
      }

      &:nth-of-type(even) {

      }
    }
  }
}

table th {
  padding: 10px 15px;
}

table td {
  padding: 9px 18px 0;
}

#logout-btn {
  display: inline-block;
}

.flash-notice {
  color: #53B369;
}

#flash {
  text-align: center;

  $border-color: #5F8D1D;
  $bg-color: #90EE90;

  &.warning {
    $border-color: #E74144;
    $bg-color: #FFB393;
  }

  .flash-inner {
    display: inline-block;
    margin: 15px auto;
    background-color: $bg-color;
    border: 4px solid $border-color;
    padding: 5px 15px;
  }

  button.close {
    border: 0;
    background-color: $border-color;
    color: white;
    margin-left: 15px;
  }
}
.btn{
  width: 100%;
  background-color: #90EE90;
  height: 30.5px;
  border-bottom: 4px solid rgba(0,0,0,0.1);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    display: block;
    padding-top:10px;
    padding-left: 5px;
  }
  &:hover{
    opacity: 0.7;
  }
}
#side-menu ul li .active{
  transition: 0.5s;
  left: 0;
}
.side-submenu.active{
  -webkit-box-shadow: 21px 61px 160px -53px rgba(0,0,0,0.30);
  -moz-box-shadow: 21px 61px 160px -53px rgba(0,0,0,0.30);
  box-shadow: 21px 61px 160px -53px rgba(0,0,0,0.30);
  transition: 0.5s;
}
//Colors for elements
#side-menu{
  li:hover > a{
    color:white;
  }
  li:hover > span, li:hover > a > span, a.active > span {
    -webkit-filter: brightness(2);
    filter: brightness(3);
  }
  .provisioning{
    p{
      color: $provisioning-color;
    }
    a.active{
      background-color: $provisioning-color;
      color: white;
    }
  }
  .product-groups{
    p{
      color: $product-groups-color;
    }
    a.active{
      background-color: $product-groups-color;
      color: white;
    }
  }
}
//icons (combine with other color comment)
#side-menu{
  ul{
    li{
      .icon{
        position: relative;
        padding: 25px;
        top: 15px;
        left: 14px;
        margin-right: 5px;
        fill: yellow;
      }
      .side-submenu{
        a{
          padding-left:0px;
        }
        .icon{
          left: 2px!important;
        }
      }
      //First level of icons (main menu)
      .dash-con{
        background: url('../images/icons/dashboard.svg') no-repeat;
      }
      .cust-con{
        background: url('../images/icons/customers.svg') no-repeat;
      }
      .prod-con{
        background: url('../images/icons/groups.svg') no-repeat;
      }
      .muni-con{
        background: url('../images/icons/municipalities.svg') no-repeat;
      }
      .mark-con{
        background: url('../images/icons/marketing.svg') no-repeat;
      }
      .prov-con{
        background: url('../images/icons/registrations.svg') no-repeat;
      }
      .set-con{
        background: url('../images/icons/settings.svg') no-repeat;
      }
      .cardpro-con{
        background: url('../images/icons/settings.svg') no-repeat;
      }
      .cardpro-con{
        background: url('../images/icons/card-provisioning.svg') no-repeat;
      }
      .accountval-con{
        background: url('../images/icons/accval.svg') no-repeat;
      }
      .orderex-con{
        background: url('../images/icons/accexp.svg') no-repeat;
      }
    }
  }
}


