<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Yellowbrick Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/application.css}" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p th:if="${#lists.isEmpty(customers)}">No customers pending activation!</p>
    <ul th:each="cust : ${customers}">
        <li th:text="${cust.firstName}">first name goes here</li>
    </ul>
</body>
</html>
