<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Yellowbrick Admin</title>
    </head>
    <body>
        <div th:if="${param.error}" th:text="#{login.error}" class="global-errors">
            Invalid username and/or password.
        </div>
        <div th:if="${param.logout}" th:text="#{login.logout}" class="flash-notice">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div>
                <label for="username">User Name:</label>
                <input type="text" id="username" name="username"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"/>
            </div>
            <div>
                <input type="submit" value="Sign In"/>
            </div>
        </form>
    </body>
</html>
