<!DOCTYPE HTML>
<html layout:decorator="provisioning/_layout">
<head>
    <title>Validate Personal Account</title>
</head>
<body>
    <div layout:fragment="content-inner">
        <form th:object="${form}" method="post">
            <div class="section">

                <div th:if="${#fields.hasErrors('global')}" class="global-errors">
                    <h3>Validation errors</h3>
                    <ul>
                        <li th:each="err : ${#fields.errors('global')}" th:text="${err}"></li>
                    </ul>
                </div>

                <h2>General data</h2>

                <div th:replace="provisioning/_form_fields :: gender"></div>
                <div th:replace="provisioning/_form_fields :: initials"></div>
                <div th:replace="provisioning/_form_fields :: firstName"></div>
                <div th:replace="provisioning/_form_fields :: lastName"></div>
                <div th:replace="provisioning/_form_fields :: dateOfBirth"></div>

                <h3>Contact details</h3>

                <div th:replace="provisioning/_form_fields :: email"></div>
                <div th:replace="provisioning/_form_fields :: phoneNr"></div>

                <h3>Address details</h3>

                <div th:replace="provisioning/_form_fields :: street"></div>
                <div th:replace="provisioning/_form_fields :: houseNr"></div>
                <div th:replace="provisioning/_form_fields :: supplement"></div>
                <div th:replace="provisioning/_form_fields :: postalCode"></div>
                <div th:replace="provisioning/_form_fields :: city"></div>
                <div th:replace="provisioning/_form_fields :: country"></div>
            </div>

            <div class="section">
                <h2>Membership data</h2>

                <div th:replace="provisioning/_form_fields :: applicationDate"></div>
                <div th:replace="provisioning/_form_fields :: actionCode"></div>
                <div th:replace="provisioning/_form_fields :: numberOfTransponderCards"></div>
                <div th:replace="provisioning/_form_fields :: numberOfPPlusCards"></div>

                <h3>Payment data</h3>

                <div th:replace="provisioning/_form_fields :: paymentMethod"></div>
                <div th:replace="provisioning/_form_fields :: accountNumber"></div>
                <div th:replace="provisioning/_form_fields :: accountHolderName"></div>
                <div th:replace="provisioning/_form_fields :: cardType"></div>

                <h3>Fees</h3>

                <div th:replace="provisioning/_form_fields :: subscriptionStatus"></div>
                <div th:replace="provisioning/_form_fields :: subscriptionFee"></div>
                <div th:replace="provisioning/_form_fields :: registrationFee"></div>
                <div th:replace="provisioning/_form_fields :: specialRateDescription"></div>
            </div>

            <div class="section">
                <input type="submit" name="validatePersonalAccount" value="Submit" />
            </div>
        </form>
    </div>
</body>
</html>
